<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.0.90" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Serilog" version="2.10.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="4.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>